<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
	<Properties>
		<Property name="filename">webapp.log</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{dd.MM.yyyy}] [%d{HH:mm:ss}] [%-4p] [%C{1}.%M:%L] \> %m%n"/>
		</Console>
		<File name="FILE" fileName="D:/Eclipse Projects (v.2020)/logs/webapp.log" createOnDemand="true">
			<PatternLayout pattern="[%d{dd.MM.yyyy}] [%d{HH:mm:ss}] [%-4p] [%C{1}.%M:%L] \> %m%n"/>    
		</File>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="STDOUT" level="info"/>
			<AppenderRef ref="FILE" level="debug"/>
		</Root>
	</Loggers>
</Configuration>

<!-- 

<Properties>
		<Property name="filename">../web/log/webapp.log</Property>
	</Properties>
	
	<Appenders type="Console" name="STDOUT">
		<PatternLayout pattern="[%d{dd.MM.yyyy}] [%d{HH:mm:ss}] [%-4p] [%C{1}.%M:%L] \> %m%n"/>
	</Appenders>
	
	<Appenders type="File" name="FILE" fileName="${filename}">
		<PatternLayout pattern="[%d{dd.MM.yyyy}] [%d{HH:mm:ss}] [%-4p] [%C{1}.%M:%L] \> %m%n"/>    
	</Appenders>
	
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="FILE"/>
		</Root>
	</Loggers>

 -->